.controls {
  overflow: visible;
}

.controlsHeader {
  align-items: center;
}

.controlBody {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 18px;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}
